.corpo-produto {
    position: relative;
}
.img-produto {
    position: absolute;
    left: 2%;
    top: 50%;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 500px;
}
.titulo-produto {
    position: absolute;
    left: 29%;
    width: 700px;
}
.informacoes-produto {
    position: absolute;
    top: 250%;
    left: 29%;
    width: 1100px;
    height: 405px;
}
.corpo-informacoes-complementares {
    position: absolute;
    top: 550px;
    left: 5%;
    width: 1000px;
}
.informacoes-complementares {
    width: 300px; height: 65px;
}

.botoes-show {
    position: absolute;
    left: 700px;
    top: 800px;
}

.botao {
    width: 200px;
    height: 50px;
    line-height: 12px;
    vertical-align: bottom;
}

.name-page {
    position: absolute;
    left: 41%;
    color: white;
    text-transform: uppercase;
}